//
// Styling for the header when the bot is running
//

#autocopper-header {
  width: 100%;
  text-align: center;
  // line-height: 30px;
  // height: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
  font-family: sans-serif;
}

#autocopper-title {
  font-weight: bold;
}

#autocopper-header.purchase {
  color: white;
  background-color: crimson;
}

table#autocopper-alert {
  border: 0px;
  // float: left;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}

table#autocopper-alert td, tr {
  border-width: 0px;
  border-collapse: collapse;
  padding: 2px;
}

.alert-left {
  font-size: 12px;
  text-align: right;
  width: 50%;
}

.alert-right {
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  width: 50%;
}
