body.options {
  padding: 5px 0 40px 40px;
  min-width: 600px;
  min-height: auto;
}

body.popup {
  margin: 0px;
  min-width: 350px;
}

#autocopper-header {
  width: 100%;
  text-align: center;
  line-height: 30px;
  height: 30px;
  font-size: 20px;
  color: white;
  background-color: red;
}

table#autocopper-alert {
  border: 0px;
  float: left;
  text-align: center;
  font-size: 15px;
}

table#autocopper-alert td,tr {
  border-width: 0px;
  border-collapse: collapse;
  padding: 2px;
}

.alert-left {
  text-align: right;
  width: 50%;
}

.alert-right {
  text-align: left;
  font-weight: bold;
  width: 50%;
  color: red;
}

#options-form label {
  margin-top: 7px;
}

#options-form input:not(#cvv):not(#card) {
  width: 90%;
}

main {
  margin: 20px;
}

input[type="checkbox"] {
  transform: scale(1.25);
}

div#status {
  margin-left: 15px;
  display: inline-block;
}
